/*Colores Paleta*/
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Titillium Web", sans-serif;
  padding: 90px 20px 0;
  background-color: #FDF6F0;
}

.header {
  background-color: #ffd8cc;
  height: 80px;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 100%;
}

.nav-link {
  text-decoration: none;
  color: #0a1d37;
}

.logo {
  font-size: 30px;
  font-weight: 700;
  padding: 0 40px;
  line-height: 80px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.imagen-centrada {
  width: 50px;
  height: 50px;
  border-radius: 2px;
  text-align: center;
}

.nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 40px;
  list-style: none;
}

.nav-menu-item {
  font-size: 18px;
  margin: 0 10px;
  line-height: 80px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.nav-menu-link {
  padding: 8px 12px;
  border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active {
  background-color: #ffbd9b;
}

.nav-toggle {
  color: #0a1d37;
  background: none;
  border: none;
  font-size: 30px;
  padding: 0 20px;
  line-height: 60px;
  cursor: pointer;
  display: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-width: calc(100vh - 160px);
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.imagen {
  width: 500px;
  height: 500px;
  border-radius: 40px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 12px;
}

.ladoderecho {
  padding-left: 25px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

p {
  font-size: 18px;
  margin-top: 40px;
  line-height: 60px;
}

span {
  font-weight: 600;
  font-size: 18px;
  color: #ffbd9b;
}

.footer {
  display: block;
  background-color: #ffd8cc;
  height: 80px;
  position: fixed;
  clear: both;
  bottom: 0;
  width: 100%;
  left: 0;
}

.container-fluid {
  background-color: #ffd8cc;
  padding-top: 5px;
  line-height: 80px;
}

.col-4 {
  padding-left: 15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: 40px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 10px;
}

.row img {
  width: 36px;
  height: 36px;
  margin-left: 12px;
}

.row a {
  text-align: center;
  color: lightcoral;
  padding-left: 10px;
}

@media (max-width: 768px) {
  body {
    padding-top: 70px;
  }
  header {
    height: 60px;
  }
  .logo {
    font-size: 25px;
    padding: 0 20px;
    line-height: 60px;
  }
  .imagen-centrada {
    width: 50px;
    height: 50px;
    border-radius: 2px;
  }
  .nav-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0;
    background-color: #ffbd9b;
    position: fixed;
    top: 60px;
    width: 100%;
    padding: 20px 0px;
    height: calc(100% - 60px);
    overflow-y: auto;
    left: 100%;
    -webkit-transition: left 0.3s;
    transition: left 0.3s;
  }
  .nav-menu-item {
    line-height: 70px;
  }
  .nav-menu-link:hover,
  .nav-menu-link_active {
    background: none;
    color: white;
  }
  .nav-toggle {
    display: block;
  }
  .nav-menu_visible {
    left: 0;
  }
  .nav-toggle:focus:not(:focus-visible) {
    outline: none;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: calc(100vh - 230px);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .imagen {
    width: 300px;
    height: 300px;
    padding: 2px 1px;
  }
  .ladoderecho {
    padding-left: 15px;
    -ms-flex-negative: 2;
        flex-shrink: 2;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
  p {
    font-size: 14px;
    margin-top: 10px;
    line-height: 25px;
  }
  .footer {
    display: block;
    background-color: #ffd8cc;
    height: 100px;
    position: fixed;
    clear: both;
    bottom: 0;
    width: 100%;
    left: 0;
  }
  .container-fluid {
    background-color: #ffd8cc;
    padding-top: 5px;
    line-height: 30px;
  }
  .col-4 {
    padding-left: 5px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-left: 10px;
  }
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .row img {
    width: 25px;
    height: 25px;
    /*margin-top: 2px;*/
  }
  .row a {
    text-align: center;
    color: lightcoral;
    padding-left: 5px;
  }
}
/*# sourceMappingURL=estilos.css.map */