/*Colores Paleta*/
$colorFondo:rgb(253, 250, 246); 
$colorMenu:#ffd8cc;
$colorElem: #ffbd9b;
$colorLetraClaro: white;
$colorLetraResaltada:#fc5404;
$fuente:'Titillium Web', sans-serif;
$letraMenu:600;
$colorLetraMenu: #0a1d37;
